body{
    color: red;
    font-style: italic;
    font-size: 30px;
    background-image: url("https://www.thoughtco.com/thmb/KHjPoXpHSOEayCpFLk0BKLC6Wvs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-97537745-59efa47d6f53ba0011c0070b.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}