body{
    color: red;
    font-style: italic;
    font-size: 20px;
    background-image: url('https://media.istockphoto.com/id/109721217/photo/heart-with-arteries-and-veins.jpg?s=612x612&w=0&k=20&c=pCeXW0DxBUs3qBBwv0k77lB4uF1PVOWrqX7Axf-psaE=');
    background-repeat: no-repeat;
    background-size: 100%;
}

.img1 {
    width: 110px;
    height: 110px;
    background-color:white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-direction: reverse;  
  }
.img2 {
    width: 110px;
    height: 110px;
    background-color:white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;  
}
.img3 {
    width: 110px;
    height: 110px;
    background-color:white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-direction: reverse;  
}
.img4 {
    width: 110px;
    height: 110px;
    background-color:white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
      
}

@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:yellow; left:800px; top:0px;}
    50%  {background-color:blue; left:1000px; top:800px;}
    75%  {background-color:blue; left:0px; top:700px;}
    100% {background-color:red; left:0px; top:0px;}
  }