<!doctype html>
<html>
    <head>
        <title>
            CARDIO-CHECKUP
        </title>
        <link href='/static/style2.css' rel='stylesheet'/>
    </head>
    <body>

        <p>YOU HAVE POSITIIVE SYMTOMPS !TAKE CARE</p>
        <img  class='img1' src='https://media.istockphoto.com/id/109721217/photo/heart-with-arteries-and-veins.jpg?s=612x612&w=0&k=20&c=pCeXW0DxBUs3qBBwv0k77lB4uF1PVOWrqX7Axf-psaE=' rel='heart'/>
        <img  class='img2' src='https://media.istockphoto.com/id/109721217/photo/heart-with-arteries-and-veins.jpg?s=612x612&w=0&k=20&c=pCeXW0DxBUs3qBBwv0k77lB4uF1PVOWrqX7Axf-psaE=' rel='heart'/>
        <img  class='img3' src='https://media.istockphoto.com/id/109721217/photo/heart-with-arteries-and-veins.jpg?s=612x612&w=0&k=20&c=pCeXW0DxBUs3qBBwv0k77lB4uF1PVOWrqX7Axf-psaE=' rel='heart'/>
        <img  class='img4' src='https://media.istockphoto.com/id/109721217/photo/heart-with-arteries-and-veins.jpg?s=612x612&w=0&k=20&c=pCeXW0DxBUs3qBBwv0k77lB4uF1PVOWrqX7Axf-psaE=' rel='heart'/>
    </body>
</html>